button{
    background-color:rgb(0, 0, 0);
    border: solid 1px black;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    font-family: 'Open Sans';
    font-weight: bold;
    transition: 0.5s;
    border: solid 3px rgb(45, 149, 218);

}

body {
    background-color: rgb(0, 0, 0);
}


button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    border: solid 2px rgb(255, 26, 26);
    transition: 0.5s;
    align-items: center;
    text-align: center;

}

input{
    border: rgb(45, 149, 218) solid 3px;
    border-radius: 5px;
    padding: 15px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: text;
    width: 200px;
    background-color: black;
    color: aqua;
    font-family: 'Open Sans';
    transition: 0,5s;

}

input:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 25px;
    border: solid 2px rgb(255, 26, 26);
    transition: 0.5s;
    align-items: center;
    text-align: center;
    transition;
    font-weight: bold;
}


input:focus {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    border: solid 4px rgb(255, 26, 26);
    transition: 0.3s;
    align-items: center;
    text-align: center;
    color: aqua;

}

h1 {
    font-family: 'Open Sans';
    font-size: 50px;
    text-align: center;
    background-color: black;
    margin: 10px auto;
    width: 45%;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: solid 5px rgb(45, 149, 218);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

h1:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 60px;
    border: solid 4px rgb(255, 26, 26);
    transition: 0.3s;
    align-items: center;
    text-align: center;
    color: aqua;
    width: 50%;
}